*{
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
#details{
    color: aliceblue;
    padding: 9px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgb(100, 57, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    justify-content: center;
    border: 1px double;
}
header{
    display:flexbox;
    align-items:center;
    text-align: center;
}
h3{
    display:flexbox;
    text-align: center;
    background-color: rgb(140, 140, 245);
}
h4{
    text-decoration: underline;
}


ul{
    display:flex;
    justify-content: space-around;
}
  
.scroll li{
    width: auto;
    background: lightgreen;
    margin-right: 10px;
    list-style: none
  }